{% extends 'user_info/base.html' %}

{% block body %}

{% if followers %}
<h1>You have followers ... </h1>
<div class="container">
    {% for follower in followers %}
    <div class="row border col-8">
        <div class="col-4">
            {{follower.follower.username}}
        </div>
        <div class="col-4">

        </div>
        <a href="" class="btn btn-primary">Go to their page</a>
    </div>
        
    {% endfor %}
</div>

{% else %}
<h1>No Followers</h1>

{% endif %}
{% endblock %}