{% extends 'user_info/base.html' %}

{% block body %}

{% if followers %}
<h1>You have followers ... </h1>
<div class="container">
    {% for follower in followers %}
    <div class="row border col-8">
        <div class="col-4">
            <a href="{% url 'user_info:user_page' user_id=follower.follower.id %}">
            {{follower.follower.username}}
            </a>
        </div>

        <a href="">Unfollow</a>
    </div>
        
    {% endfor %}
</div>

{% else %}
<h1>No Followers</h1>

{% endif %}
{% endblock %}